/* import font */
@font-face {
    font-family: Avenir;
    src: url('../fonts/Avenir-Light.ttf'),
        url('../fonts/Avenir-Medium.ttf'),
        url('../fonts/Avenir-Black.otf');
}

@font-face {
    font-family: Marker-Felt;
    src: url('../fonts/Marker\ Felt.ttf');
}

@font-face {
    font-family: The-Bohemian-Free;
    src: url('../fonts/TheBohemianFree.otf');
}

@font-face {
    font-family: Black-Angel;
    src: url('../fonts/Black-Angel.otf'),
        url('../fonts/Black-Angel.ttf');
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: Avenir;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 7px;

}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    /* background-image: linear-gradient(to right, #a517ba, #7b1798); */
    background: #0A252E;
    cursor: pointer !important;

}

::-webkit-scrollbar-thumb:hover {
    background: #000;
}

/* scrollbar css end */
/* **************************************************** */
/* typography css stat from here */
/* **************************************************** */
p,
a,
button {
    font-size: 14px;
    text-decoration: none !important;
}

/* **************************************************** */
/* typography css end here */
/* **************************************************** */



/* **************************************************** */
/* theme library */
/* **************************************************** */
.bg-gray {
    background-color: #8A8D8F;
}

.mett-btn {
    transition: linear .2s;
    padding: 13px 25px;
}

.mett-btn:hover {
    transition: linear .2s;
    text-decoration: none;
}

.btn-gray {
    color: #fff;
    background-color: #8A8D8F;
}

.btn-gray:hover {
    color: #fff;
    background-color: #707070;
}

footer {
    background: #002D72;
    padding-top: 25px;
    padding-bottom: 20px;
}

/* **************************************************** */



/* **************************************************** */
/* 01. stylesheet for Bodrum page */
/* start from here */
/* **************************************************** */
.banner-sec {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.banner-sec header {
    position: absolute;
    width: 100%;
    z-index: 5;
    background: #000000;
}

.top-header {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.top-header li {
    display: inline-block;
    font-size: 15px;
    font-family: Avenir;
    font-weight: 900;
    color: #fff;
    margin-right: 25px;
}

.top-header li i {
    margin-right: 5px;
}

.top-header li a {
    color: #fff;
    background: #8A8D8F;
    padding: 10px 40px;
    display: block;
    font-size: 15px;
}

nav {
    position: absolute;
    z-index: 2;
    bottom: -90px;
    left: 0;
    display: none;
}

.insta-btn {
    margin: 0 !important;
    position: absolute;
    padding-top: 5.5px;
}

.insta-btn a {
    padding: 0 !important;
    background: transparent !important;
    position: relative;
    height: 32px;
    width: 32px;
    border-radius: 20px;
    border: 2px solid #fff;
    color: #fff !important;
}

.insta-btn a i {
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav button {
    border: none;
    background: transparent;
    color: #002D72 !important;
    font-size: 16px;
    font-weight: 900 !important;
}

nav button span {
    transform: rotate(90deg);
    position: absolute;
    right: -15px;
    top: -3px;
    font-family: Marker-Felt;
    font-size: 18px;
    font-weight: normal;
}


.brand-logo {
    position: absolute;
    z-index: 1;
    bottom: -140px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 165px;
}

.benner-text {
    position: absolute;
    z-index: 1;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benner-text h1 {
    margin: 0;
    font-size: 90px;
    font-family: Black-Angel;
    color: #002D72;
    text-align: center;
    font-weight: bold;
}

.benner-text h2 {
    font-family: Avenir;
    font-size: 56px;
    font-weight: bold;
    letter-spacing: 0px;
}

.slider {
    height: 100vh;
}

.slider .uk-slideshow {
    height: 100vh;
}

.slideshow {
    height: 100vh;
}

.slideshow ul li {
    height: 100vh;
}


.dot-navs {
    height: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.dot-navs li a {
    border-color: #fff;
}

.uk-slideshow-items {
    height: 100vh;
    min-height: auto !important;
}

.uk-dotnav>.uk-active>* {
    background-color: #fff;
    border-color: #fff;
}

.banner-bgi {
    background-image: url(../images/benner-bodrum.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* **************************************************** */
/* end here */
/* **************************************************** */
/*  */
/* **************************************************** */
/* state section start from here */
/* **************************************************** */

.state-sec {
    position: relative;
    overflow: hidden;
}

.patterns {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.25;
}

.pattern-scrollspy {
    position: relative;
    overflow: hidden;
    transform: scale(1.1, 1) rotate(180deg);
    bottom: 80px;
}

.pattern-item {
    width: 80px;
    float: left;
}

.pattern-item img {
    width: 100%;
}

.state {
    padding: 100px 0;
    padding-bottom: 120px;
}

.state h2 {
    margin-bottom: 50px;
    font-size: 60px;
    font-weight: 700;
    color: #002D72;
}

.state-img {
    border: 7px solid #fff;
}

.state-img img {
    width: 100%;
}

.state-details {
    padding-top: 50px;
}

.state-details h3 {
    font-family: Black-Angel;
    margin-bottom: 50px;
    color: #002D72;
    font-size: 72px;
    text-align: center;
    font-weight: bold;
}

.state-details p {
    color: #002D72;
    font-size: 20px;
    margin-bottom: 0;
}

/* **************************************************** */
/* state section end here */
/* **************************************************** */
/*  */
/* **************************************************** */
/* instagram section gallery start from here */
/* **************************************************** */

.insta-sec {
    background: radial-gradient(circle, #ffffff 0%, #8a8d8f 100%);
    padding: 100px 30px;
}

.insta-sec img {
    border: 1px solid #70707050;
    width: 100%;
}

.insta-sec h2 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 60px;
}

.insta-container {
    max-width: 1250px;
    margin: auto;
}

.insta-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.insta-col-1 {
    max-width: 556px;
}

.insta-col-2 {
    max-width: 222px;
}

.insta-col-3 {
    max-width: 472px;
}

.insta-col-next-1 {
    overflow: hidden;
}

.insta-col-next-2 {
    overflow: hidden;
}

.insta-img1 {
    padding: 8px;
}

.insta-img2 {
    float: left;
    max-width: 230px;
    padding: 8px;
}

.insta-img3 {
    float: left;
    max-width: 326px;
    padding: 8px;
}

.insta-img4 {
    padding: 8px;
}

.insta-img5 {
    padding: 8px;
}

.insta-img6 {
    padding: 8px;
}

.insta-img7 {
    max-width: 304px;
    float: left;
    padding: 8px;
}

.insta-img8 {
    float: left;
    max-width: 168px;
    padding: 8px;
}

.insta-img9 {
    padding: 8px;
}

/* **************************************************** */
/* instagram section gallery end here */
/* **************************************************** */
/*  */
/* **************************************************** */
/* feature section start from here */
/* **************************************************** */

.feature-sec {
    padding-top: 120px;
}

.stay-sec {
    position: relative;
    margin-bottom: 100px;
}

.stay-sec-box {
    position: relative;
    background: #B9B9B9;
    padding: 40px 20px;
    padding-bottom: 50px;
    margin-bottom: 0;
}

.stay-sec h2 {
    margin: 0;
    position: absolute;
    color: #002D72;
    font-size: 60px;
    font-weight: 700;
    top: -50px;
    left: 70px;
    text-transform: uppercase;
}

.stay-sec ul {
    margin: 0;
    padding: 0;
    height: 430px;
    display: block;
    overflow-y: auto;
}

.stay-sec ul li {
    list-style: none;
    display: table;
    width: 100%;
    padding: 20px;
    transition: linear .2s;
}

.stay-sec ul li:hover {
    background: #8A8D8F;
    transition: linear .2s;
}

.stay-img {
    display: table-cell;
    width: 150px;
}

.stay-title {
    vertical-align: middle;
    display: table-cell;
    padding-left: 15px;
}

.stay-title a {
    font-size: 20px;
    font-family: Poppins;
    color: #000;
    display: block;
    border-bottom: 2px solid #fff;
    margin-bottom: 5px;
    margin-right: 10px;
}

.stay-title p {
    margin: 0;
    color: #fff;
    font-size: 16px;
    font-family: Poppins;
}

.stay-title p span {
    color: #000;
}

.stay-dtails {
    padding: 50px 0;
    padding-bottom: 120px;
    display: block;
}

.stay-dtails h3 {
    color: #8A8D8F;
    font-family: Black-Angel;
    margin-bottom: 20px;
    font-size: 72px;
    font-weight: bold;
}

.stay-dtails p {
    color: #404040;
    font-size: 18px;
}

.stay-dtails p:last-child {
    margin-bottom: 50px;
}

.stay-dtails a {
    display: inline-block;
    margin-top: 30px;
}

/* **************************************************** */
/* feature section end here */
/* **************************************************** */
/*  */
/* **************************************************** */
/* VISIT US section start from */
/* **************************************************** */

.visit-sec {
    position: relative;
}

.visit-sec h2 {
    color: #002D72;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    margin-top: 40px;
}

.blue-pattern-top {
    background-image: url(../images/blue-pattern-top.png);
    background-repeat: repeat-x;
    position: relative;
    height: 100px;
    background-size: contain;
    background-position: top center;
}

.blue-pattern-bottom {
    background-image: url(../images/blue-pattern-bottom.png);
    background-repeat: repeat-x;
    position: relative;
    height: 100px;
    background-size: contain;
    background-position: bottom center;
}

.visit-content {
    padding: 50px 0;
}

.visit-content img {
    width: 100%;
}

.visit-content h4 {
    font-size: 36px;
    font-weight: 700;
    color: #002D72;
    margin: 0;
}

.visit-content p {
    color: #002D72;
    font-size: 18px;
    font-weight: 700;
    margin: 25px 0;
}

.visit-content p a {
    color: #002D72;
    font-size: 18px;
    font-weight: 700;
}

/* **************************************************** */
/* VISIT US section end here */
/* **************************************************** */
/*  */
/* **************************************************** */
/* footer section start from here */
/* **************************************************** */
footer p {
    color: #fff;
    font-weight: 600;
    margin: 0;
    padding-top: 8px;
}


footer ul {
    margin-bottom: 0;
    padding: 0;
}

footer ul li {
    list-style: none;
    display: inline-block;
    padding: 3px;
}

footer ul li a {
    color: #fff;
    position: relative;
    width: 30px;
    display: block;
    height: 30px;
    border-radius: 20px;
    border: 1px solid #fff;
    transition: linear .2s;
}

footer ul li a:hover {
    transition: linear .2s;
    background: #fff;
    color: #002D72;
}

footer ul li a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* **************************************************** */
/* footer section end here */
/* **************************************************** */


/* **************************************************** */
/* loder css */
/* **************************************************** */
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

/* **************************************************** */
/* loder css end */
/* **************************************************** */




* {
    font-family: Poppins;
}

::placeholder {
    color: #C9C9C9;
    font-size: 14px;
}

.menu-btn {
    background: #01ACF0;
    border-radius: 5px;
    transition: linear .2s;
    margin-left: 30px !important;
}

.menu-btn:hover {
    background: #fff;
    color: #01ACF0;
    transition: linear .2s;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.elementor-select-wrapper::before {
    content: "" !important;
}


/* registration from */
.reg-form {
    text-align: right;
    width: 100%;
    border: 1px solid #C9C9C9 !important;
    border-radius: 6px;
    font-size: 16px;
    padding: 15px 20px !important;
    background: #fff !important;
    margin-bottom: 15px !important;
}

.reg-form option {
    text-align: right !important;
}

.form-group {
    text-align: right;
}

.form-group label {
    color: #595959 !important;
    padding-bottom: 10px !important;
}

.user-radio {}

.user-radio label {
    display: none !important;
}

.user-btn {
    background: #0D4EA5;
    color: #fff;
    border: none;
    width: 100%;
    font-family: poppins;
    font-size: 16px;
    border-radius: 6px;
    padding: 15px;
    transition: linear .2s;
    box-shadow: border-box;
}

.user-btn:hover {
    background: #0B4CA3;
    transition: linear .2s;

}

.erf-content-above {
    display: none;
}


/* reg-form-gander */
.reg-form-gander {}

.reg-form-gander .gander-item {
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    padding: 0 15px;
}

.reg-form-gander label {
    text-align: center;
    display: block;
    background: #fff;
    border: 1px solid #C9C9C9;
    border-radius: 20px;
    padding: 40px;
}

.reg-form-gander img {

    height: 85px;
    margin-bottom: 15px;
}

.reg-form-gander p {

    margin-bottom: 0;
    font-size: 26px;
    color: #0B52B2;
    font-weight: 400;
}

/* ***************************** */
.about-content-sec {
    background-image: url(../images/Mett_Pattern_Gradient.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}

.about-content-sec h2 {
    font-family: The Bohemian Free;
    font-size: 60px;
    font-weight: normal;
    line-height: 3;
    padding-bottom: 20px;
}

.about-content-sec p {
    color: #002D72;
    font-size: 20px;
    font-family: Avenir;
}

.file-photo {}

.file-photo img {
    border: 2px solid #009898;
}

.border-brown {}

.border-brown img {
    border: 1px solid #C2A290;
}

.dine-photo-content {}

.dine-photo-content h3 {
    font-size:
        30px;
    line-height: 38px;
    margin: 0;
    margin-bottom: 30px;
    font-weight: bold;
    color: #707070;
}

.dine-photo-content h5 {
    font-size: 18px;
    font-weight: 600;
    color: #707070;
    margin-top: 0;
}

.dine-photo-content h6 {
    color: #707070;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.dine-photo-content p {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 50px;
}

.dine-photo-content ul {
    padding: 0;
    list-style: none;
}

.dine-photo-content ul li {}

.dine-photo-content ul li a {
    background: #1BB8B8;
    color: #fff;
    padding: 15px 40px;
    display: inline-block;
    margin-bottom: 20px;
    text-align: center;
    width: 200px;
    border-radius: 12px;
}

.dine-photo-content ol {
    padding-left: 20px;
    margin-top: 10px;
}

.dine-photo-content ol li {
    font-size: 14px;
    color: #707070;
    font-weight: 400;
}